<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC5t70rpKtYJU9z18HDb189uVZ_lLSLK30</string>
	<key>GCM_SENDER_ID</key>
	<string>142256564998</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.management.railway</string>
	<key>PROJECT_ID</key>
	<string>railway-management-57dbe</string>
	<key>STORAGE_BUCKET</key>
	<string>railway-management-57dbe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:142256564998:ios:f3ba3d20f0b81101370c87</string>
</dict>
</plist>